In [129]:
import pandas as pd
import numpy as np
import os

In [130]:
url1 = r'C:\Solar-Flare-Forecast\Data\Scraped_Data\nasa_data.csv'
urls2 = r'C:\Solar-Flare-Forecast\Data\Scraped_Data\sw_data.csv'

In [131]:
df1 = pd.read_csv(url1)
df2 = pd.read_csv(urls2)

In [132]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        704 non-null    object
 1   start_time  704 non-null    object
 2   end_date    704 non-null    object
 3   speed       704 non-null    object
dtypes: object(4)
memory usage: 22.1+ KB

In [133]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1450 non-null   int64
 1   Unnamed: 1  1450 non-null   object
 2   Unnamed: 2  1450 non-null   object
 3   Region      1450 non-null   object
 4   Start       1450 non-null   object
 5   Maximum     1450 non-null   object
 6   End         1450 non-null   object
 7   Unnamed: 7  1450 non-null   object
 8   Year        1450 non-null   int64
dtypes: int64(2), object(7)
memory usage: 102.1+ KB

In [134]:
df1.head()

         date start_time end_date  speed
0  1997/01/20      08:56    01/20  -----
1  1997/04/01      14:00    04/01   8026
2  1997/04/07      14:30    04/07   8027
3  1997/05/12      05:15    05/14   8038
4  1997/05/21      20:20    05/21   8040

In [135]:
df2.drop(columns='Unnamed: 0', inplace=True)

In [136]:
df2.head()

  Unnamed: 1  Unnamed: 2 Region  Start Maximum    End    Unnamed: 7  Year
0     X12.97  1997/11/06   8100  11:49   11:55  12:01  View archive  1997
1      X3.69  1997/11/27   8113  12:59   13:17  13:20  View archive  1997
2      X2.91  1997/11/04   8100  05:52   05:58  06:02  View archive  1997
3      M9.31  1997/11/28   8113  04:53   05:03  05:23  View archive  1997
4      M8.67  1997/11/29   8113  22:28   22:44  22:53  View archive  1997

In [137]:
new_columns = ['Class', 'date', 'Region', 'Start', 'Maximum', 'End', 'View', 'Year']

df2.columns = new_columns

In [138]:
df1.columns

Index(['date', 'start_time', 'end_date', 'speed'], dtype='object')

In [139]:
df2.columns

Index(['Class', 'date', 'Region', 'Start', 'Maximum', 'End', 'View', 'Year'], dtype='object')

In [140]:
df = pd.merge(df1, df2, how='inner')

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541 entries, 0 to 540
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        541 non-null    object
 1   start_time  541 non-null    object
 2   end_date    541 non-null    object
 3   speed       541 non-null    object
 4   Class       541 non-null    object
 5   Region      541 non-null    object
 6   Start       541 non-null    object
 7   Maximum     541 non-null    object
 8   End         541 non-null    object
 9   View        541 non-null    object
 10  Year        541 non-null    int64
dtypes: int64(1), object(10)
memory usage: 46.6+ KB

In [142]:
df.sample(10)

,date,start_time,end_date,speed,Class,Region,Start,Maximum,End,View,Year
359,2013/06/21,03:35,06/21,11777,M4.18,1777,02:30,03:14,03:43,View archive,2013
515,2024/05/14,12:56,05/14,13664,X1.2,3664,12:40,12:55,13:05,View archive,2024
367,2013/10/26,03:01,10/26,11875,M3.34,1882,05:59,06:06,06:20,View archive,2013
112,2001/09/17,08:35,09/17,9616,X1.16,9608,15:44,15:50,15:54,View archive,2001
98,2001/04/02,22:05,04/03,9393,X2.01,9393,10:04,10:14,10:20,View archive,2001
444,2020/11/29,13:07,11/29,12790,M4.4,2790,12:34,13:11,13:41,View archive,2020
285,2006/12/06,19:00,12/08,10930,C6.89,0930,12:53,12:58,13:03,View archive,2006
153,2002/08/24,01:45,08/24,10069,X4.54,0069,00:49,01:12,01:31,View archive,2002
522,2024/05/15,08:33,05/15,13664,X3.48,3664,08:18,08:37,08:52,View archive,2024
1,1997/05/21,20:20,05/21,8040,M1.73,8040,20:03,20:15,20:27,View archive,1997

In [143]:
df.isnull().sum()

date          0
start_time    0
end_date      0
speed         0
Class         0
Region        0
Start         0
Maximum       0
End           0
View          0
Year          0
dtype: int64

In [144]:
dir_path = r'C:\Solar-Flare-Forecast\Data\Raw_Data'

os.makedirs(dir_path, exist_ok=True)
path = os.path.join(dir_path, 'Raw_Data.csv')
df.to_csv(path, index=False)

In [145]:
df.head()

,date,start_time,end_date,speed,Class,Region,Start,Maximum,End,View,Year
0,1997/04/07,14:30,04/07,8027,C9.01,8027,13:50,14:07,14:19,View archive,1997
1,1997/05/21,20:20,05/21,8040,M1.73,8040,20:03,20:15,20:27,View archive,1997
2,1997/11/03,05:15,11/03,8100,M5.67,-,10:18,10:29,10:34,View archive,1997
3,1997/11/03,05:15,11/03,8100,M1.96,8100,09:03,09:10,09:13,View archive,1997
4,1997/11/03,05:15,11/03,8100,M1.34,8100,19:55,20:16,20:36,View archive,1997

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541 entries, 0 to 540
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        541 non-null    object
 1   start_time  541 non-null    object
 2   end_date    541 non-null    object
 3   speed       541 non-null    object
 4   Class       541 non-null    object
 5   Region      541 non-null    object
 6   Start       541 non-null    object
 7   Maximum     541 non-null    object
 8   End         541 non-null    object
 9   View        541 non-null    object
 10  Year        541 non-null    int64
dtypes: int64(1), object(10)
memory usage: 46.6+ KB

In [164]:
df = pd.read_csv(r'C:\Solar-Flare-Forecast\Data\Raw_Data\Raw_Data.csv')
df.head()

   speed Class  Region  Start Maximum    End          View  Year  Month  Day
0   8027     C    8027  13:50   14:07  14:19  View archive  1997      4    7
1   8040     M    8040  20:03   20:15  20:27  View archive  1997      5   21
2   8100     M    3576  10:18   10:29  10:34  View archive  1997     11    3
3   8100     M    8100  09:03   09:10  09:13  View archive  1997     11    3
4   8100     M    8100  19:55   20:16  20:36  View archive  1997     11    3

In [155]:
df['Class'].value_counts()

Class
M    255
X    253
C     29
B      4
Name: count, dtype: int64

In [165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541 entries, 0 to 540
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   speed    541 non-null    int64
 1   Class    541 non-null    object
 2   Region   541 non-null    int64
 3   Start    541 non-null    object
 4   Maximum  541 non-null    object
 5   End      541 non-null    object
 6   View     541 non-null    object
 7   Year     541 non-null    int64
 8   Month    541 non-null    int64
 9   Day      541 non-null    int64
dtypes: int64(5), object(5)
memory usage: 42.4+ KB